

<h1>Edit student</h1>

  <%= form_with model:@student, class: "row g-5" do |f| %>


  <div class="card">
  <div class="card-body">
  <div class="mb-3">
      <%= f.label :id_no, { class: "form-label"} %>
      <%= f.text_field :id_no, { class: "form-control", placeholder: "ID_no" } %>
    </div>
    <div class="mb-3">
      <%= f.label :first_name, { class: "form-label"} %>
      <%= f.text_field :first_name, { class: "form-control", placeholder: "First_name" } %>
    </div>
    <div class="mb-3">
      <%= f.label :last_name, { class: "form-label"} %>
      <%= f.text_field :last_name, { class: "form-control", placeholder: "Last_name" } %>
    </div>
    <div class="mb-3">
      <%= f.label :address, { class: "form-label"} %>
      <%= f.text_field :address, { class: "form-control", placeholder: "Address" } %>
    </div>


    <% if @student.errors.any?%>
       <% @student.errors.full_messages.each do |message|%>
       <%= message%>
      <% end %>
    <% end %> <br>
    <%= f.submit "Submit", class: "btn btn-primary" %>

 <button type="button" class="btn btn-dark"><%= link_to "Back", @student %>
</button>

  </div>
</div>


  <% end %>
