<html>
<head>
<style>
li{ float:left;}
li a{ display:block; color:white; padding:30px; text-align:cener;}
li a:hover {background-color:gray;}
</style>
</head>
<body>

<ul style="list-style-type:none; background-color:black; color:white;
overflow: hidden;" margin: 0; padding: 0;>


<li> <%= link_to 'Home' ,root_path %></li>
<li> <%= link_to 'student table' ,students_path %></li>
<li> <%= link_to 'Creat new student' ,new_student_path%></li>
<li> <%= link_to 'Home' ,root_path %></li>
<%# <li> <%= link_to 'About' ,home_about_path %>
<li> <a href="">About us</a> </li>

</ul>
</body>
</html>

<h1><em><center> WELCOME TO MY ROR PAGE </center></em></H1>


<html>
	<head>
	</head>
	<body style="background: ; border: 6px solid midnightblue;">


<div style="background-color: red; width:100%;height: 20%;"><h1 style="text-align: center; background-color:green;"> I L M COlLEGE </h1>


<div style="background-color: black; width: 20%; height:60%; float:right;" > <h1 style="color:white;"> 	W<BR>E<BR>L<BR>C<BR>O<BR>M<BR>E</div>
<div style="background-color: black; width:20%;height: 60%; float:left;">	<h1 style="color:white; text-align: right;">W<BR>E<BR>L<BR>C<BR>O<BR>M<BR>E </h1></div>
<div style="background-color:gray; float: center; width: 100%; height:60%;"><img src="/home/anas.image" style=" width: 60%; height:100%; "> </div>
<div style="background-color: yellow; width:100%;height: 40%; float:left;"> <h1 style="text-align:center;font-size:60px ; color: darkcyan;"> <i>Thanks for watching</i></div>
<div style="background-color: yellow; width:100%;height: 40%;"> <h1 style="text-align:center;font-size:60px ; color: darkcyan;"> <i>Thanks for watching</i></div>

<div style="background-color:gray; float: center; width: 100%; height:60%;"><img src="/home/anas.image" style=" width: 60%; height:100%; "> </div>
<img src="/home/anas.image" style=" width: 60%; height:100%; "> 
  </body>

</html>



<h1>Hi, </h1>
<h3>What is ASP.NET MVC?</h3>
ASP.NET MVC is an open source web development framework from Microsoft that provides a Model View Controller architecture. ASP.net MVC offers an alternative to ASP.net web forms for building web applications. It is a part of the .Net platform for building, deploying and running web apps. You can develop web apps and website with the help of HTML, CSS, jQuery, Javascript, etc.

<h3>Why ASP.net MVC?</h3>
Although web forms were very successful, Microsoft thought of developing ASP.net MVC. The main issue with ASP.net webForms is performance.

In a web application, there are four main aspects which define performance:-

Response time issues
Problem of Unit Testing
HTML customization
Reusability of the code-behind class
ASP.net MVC excels on the above parameters.

<img src="/home/anas.image" style=" width: 60%; height:100%; ">
